.about-me {
    background-color: #b6b6b6;
    text-align: center;
}

span.aboutme-description {
    display: inline-block;
    margin-top:  10px;
    text-align: left;
}

section.description {
    padding: 20px;
}

section.image {
    padding: 20px 0px 0px 0px;
}

.my-picture {
    width: 200px;
}