.about-me {
    background-color: #06304e;
    text-align: center;
}

span.aboutme-description {
    display: inline-block;
    margin-top:  10px;
    text-align: left;
}

section.description {
    padding: 20px;
    color: #D4DCE3;
}

section.image {
    padding: 20px 0px 0px 0px;
}

.my-picture {
    width: 200px;
    -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s;
}

.my-picture:hover {
    width: 220px;
}

