.about-me {
    background-color: #b6b6b6;
    min-height: 200px;
    text-align: center;
}

span.aboutme-description {
    display: inline-block;
    margin-top:  10px;
    text-align: left;
}

section.description {
    padding: 20px;
}