.landing {
    text-align: center;
}

.splashImage {
    width: 100%;
}

span.greeting {
    background-color: green;
    widows: 50%;
}

section.greeting-section {
    font-size: 32px;
    margin-top: 10%;
    position:  absolute;
    width: 80%;
}

section.landing {
    min-height: 200px;
    background-image: url('../../images/helloquence-61189-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}