.portfolio {
    background-color: #d7d7d7;
    text-align: center;
} 

.project-logo {
    width: 150px;
}

section.portfolio-section {
    padding: 20px;
}

.stegato {
    background-color: #0f1626;
    color: #f5f5f5
}

.squares {
    background-color: #062f4f!important;
    color: #D4DCE3;
}

.mumu {
    background-color: #4ABDAC;
    color: #D4DCE3;
}

section.technolgy {
    padding: 40px;
}