.portfolio {
    background-color: #d7d7d7;
    text-align: center;
} 

.project-logo {
    width: 150px;
}

section.portfolio-section {
    padding: 20px;
}

.stegato {
    background-color: #0f1626;
    color: #f5f5f5
}

.squares {
    background-color: #062f4f!important;
    color: #D4DCE3;
}

.mumu {
    background-color: #4ABDAC;
    color: #D4DCE3;
}

section.technolgy {
    padding: 40px;
}

/*Icons*/
.icon-bar {
    margin: 20px;
}

.fa {
    font-size: 26px;
    margin: 5px;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}