.portfolio {
    background-color: #d7d7d7;
    text-align: center;
} 

.project-logo {
    width: 150px;
    margin: 10px 0px;
    -webkit-transition: width 0.2s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.4s;
}

.project-logo:hover {
    width: 180px;
}

section.portfolio-section {
    padding: 20px;
}

section.portfolio-section > h1 {
    font-size: 32px;
    margin: 0px 0px 20px 0px;
}

#portfolio > section.portfolio > section > h1 {
    text-transform: uppercase;
}

.stegato {
    background-color: #0f1626;
    color: #f5f5f5
}

#portfolio > section.portfolio.stegato > section > section:nth-child(6) > span.linkout > a {
    color: #f5f5f5;
}


.squares {
    background-color: #062f4f!important;
    color: #D4DCE3;
}

#portfolio > section.portfolio.squares > section > section:nth-child(6) > span.linkout > a {
    color: #D4DCE3;
}

.mumu {
    background-color: #4ABDAC;
    color: #D4DCE3;
}

#portfolio > section.portfolio.mumu > section > section:nth-child(6) > span.linkout > a {
    color: #D4DCE3;
}

#portfolio > section.portfolio.squares > section > section.technologies > section > .svg-inline--fa:hover {
    color: #813772;
}

#portfolio > section.portfolio.mumu > section > section.technologies > section > .svg-inline--fa:hover {
    color: #FC4A1A;
}

section.technologies {
    margin: 20px 0px;
    font-size: 32px;
}

img.project-screenshot {
    width: 100%;
    -webkit-transition: width 0.2s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.4s;
}

img.project-screenshot:hover {
    width: 98%;
}

.linkout {
    margin: 0px 10px;
    text-decoration: none;
}


.svg-inline--fa {
    margin: 0px 5px;
    font-size: 50px;
}

.svg-inline--fa:hover {
    color: #ff533d;
}



@media only screen and (max-width: 600px) {
    span.site-identifier {
        font-size: 20px;
    }
    #portfolio > section.portfolio.stegato > section > section:nth-child(6) > span.linkout > a {
        color: #f5f5f5;
        font-size: 20px;
    }
    #portfolio > section.portfolio.squares > section > section:nth-child(6) > span.linkout > a {
        color: #f5f5f5;
        font-size: 20px;
    }
    #portfolio > section.portfolio.mumu > section > section:nth-child(6) > span.linkout > a {
        color: #f5f5f5;
        font-size: 20px;
    }
}
