header {
    background-color: black;
    color: white;
}

.name-text {
    text-transform: uppercase;
}

header a {
    color: white;
}

a.jumper {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}