header {
    background-color: #0f1626;
    color: #f5f5f5;
    padding: 2px;
}

.name-text {
    text-transform: uppercase;
}

header a {
    color: #f5f5f5
}

a.jumper {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: #ff533d;
}

@media only screen and (max-width: 600px) {
    #root > main > header > div > nav > ul {
        display: initial;
        font-size: 20px;
        padding: 0px;
        text-align: center;
    }
    nav {
        /* margin-bottom: 0px; */
        padding-bottom: 5px;
    }
}