footer {
    width: 100%;
    background-color: #0f1626;
    color: #f5f5f5;
    padding: 5px 0px;
}

.say-hi:hover {
    animation: shake 0.2s;
    color: #ff533d;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

ul {
    list-style-type: none;
    display: -webkit-inline-box;
    width: 100%;
}

li {
    margin: 10px 10px;
}
footer > section > ul > li > a {
    color: #f5f5f5;
}
footer > section > ul > li > a:hover {
    color: #ff533d;
    text-decoration: underline;
}

hr {
    max-width: 200px;
    border-width: 3px;
    border-color: #ff533d;
    background-color: #ff533d;
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 4px;
}

@media only screen and (max-width: 600px) {
    .footer-nav {
        text-align: center;
    }
    .say-hi {
        text-align: center;
    } 
    #root > main > footer > section > ul {
        display: initial;
    }
}