footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0px;
}

ul {
    list-style-type: none;
    display: -webkit-inline-box;
    width: 100%;
}

li {
    margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
    footer {
        background-color: pink;
    }
    .footer-nav {
        text-align: center;
    }
    #root > main > footer > section > ul {
        display: initial;
    }
}