html, body {
    margin: 0px auto;
}

main {
    width: 80%;
    margin: 0px auto
}

.portfolio-header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    border-bottom: 6px solid #000000;
}

.portfolio-header-text {
    margin: 0px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
}

@media only screen and (max-width: 900px) {
    html, body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        width: 100%;
    }
}